<h1>HI I'M MAX</h1>
<%= link_to "Home", root_path %><%= link_to "About", about_path %>
<p>and I am MAD!!! <%= link_to "Mad Max", "http://www.imdb.com/media/rm3278223872/tt0079501?ref_=tt_ov_i" %>, that's me.</p>
